<div class="container"><%= flash[:notice] %>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-5">
			<h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers !!</strong></h1>

            <h4>
	          In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong>,<br>
	          you can share and exchange your options,inpressions,and emotions<br>
	          about various books!
            </h4>

            <%= link_to "Log in",new_user_session_path, class: "btn btn-info btn-block" %>
            <%= link_to "Sign up",new_user_registration_path,class: "btn btn-success btn-block" %>
        </div>
    </div>
</div>