<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <p>error prohibited this obj from being saved:</p>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>